/* PRESLEY MOD */
.field--name-field-presley-icon {
float: left;
margin-right: 1em;
}
.field--name-field-presley-icon img {
padding: 5px;
max-width: 24px;
}
.field--name-field-presley-title {
color: #6380fe;
text-align: left;
padding: 6px 0;
}
.field--name-field-presley-description {
text-align: left;
}
.field--name-field-presley-image img {
background: #FFF;
}

/* LENNON MOD */
.paragraph--type--lennon-item .slideshow-group-two {
background: rgba(115, 19, 230, 0.65);
padding-top: 15%;
text-align: right;
text-shadow: 2px 2px 6px #000;
}
